{% extends "bank/base.html" %}
{% load tr %}
{% block title %}{% t "sec.title" %}{% endblock %}
{% block content %}
<section class="sheet">
  <h1>{% t "sec.heading" %}</h1>
  <form method="post" novalidate>
    {% csrf_token %}
    {% for e in form.non_field_errors %}<div class="msg msg-error"><span>{{ e }}</span></div>{% endfor %}
    {% for field in form %}{% include "bank/_field.html" %}{% endfor %}
    <button class="btn block" type="submit">{% t "sec.submit" %}</button>
  </form>
</section>
{% endblock %}
